body {
    background-color: #2874f0;
}
.card {
    border-radius: 1rem;
}
.card-img {
    border-radius: 1rem 0 0 1rem;
}
.form-control {
    border-radius: 0.5rem;
}
.btn-primary {
    border-radius: 0.5rem;
}
.custom-input {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}